@model PartyInvites.Models.GuestResponse
@{
    ViewData["Title"] = "Thanks";
}

<html>
    <head>
         <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

    </head>

<body class="text-center">
        <h1>Thanks @Model.name  </h1>
@if (Model.willAttend == true)
{
    @: is's great that you are comming
}else
{
@: sorry to hear that yu cant make it
}
Click <a class="nav-link" asp-action="ListResponses">here</a>
 to see who is coming.
</body>
</html>


